.card {
  height: auto;
  padding: 30px 20px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  border-radius: 12px;
  border: 1px solid #DBDDE0;
  background-color: #fff;
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.20);
}

.card-title {
  font-size: 32px;
  font-weight: 700;
}

.card-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.card-main>label {
  width: 100%;
}

.label-credentials {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-credentials>span {
  font-size: 16px;
  color: #0061EB;
}

.credentials {
  width: 100%;
  padding: 14px 20px;
  border: 1px solid #8794B0;
  border-radius: 6px;
  font-size: 16px;
  color: #000000;
}

.login-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  border: 1px solid #0061EB;
  background-color: #0061EB;
  color: #fff;
  text-align: center;
}

.card-footer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.forgot-password {
  font-size: 16px;
  font-weight: 400;
  color: #5E9EDF;
}

.logout-btn {
  margin-top: 20px;
  padding: 10px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0061EB;
  color: #fff;
  text-align: center;
}

.create-account {
  text-decoration: underline;
  color: #0061EB;
}

.menu-header {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0061EB;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar>li,
.navbar-submenu>li {
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 500;
}

.list-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.list-navbar>ul {
  display: none;
  position: absolute;
  top: 30px;
}

.list-navbar:hover>ul {
  display: block;
}

.card-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 15px;
}

.card-title {
  margin: 0 0 20px 0;
}
